* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    width: 100%;
}

.block {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block-1 {
    background-image: url('rosles.png');
}

.block-2 {
    background-image: url('rosles2.png');
    background-color: #94c460;
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
    border-top: 4px solid white;
}

.block-3 {
    background-image: url('rosles3.png');
    background-color: #fef5e7;
    border-top: 4px solid white;
}
.block-4 {
    background-image: url('rosles4.png');
    border-top: 4px solid white;
}
.block-5 {
    background-image: url('rosles5.png');
    border-top: 4px solid white;
}
footer {
    background-color: #576035;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.clickable {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: "Comic Sans MS";
}

